{% extends 'layouts/admin_main_layout.html' %}

{% block title %} Add plans {% endblock %}

{% block style %}

    <style>
        body{
            background-image: linear-gradient(to left top, #316879, #398190, #429aa7, #4eb4bc, #5dcfcf, #6fdad8, #80e4e1, #90efea, #a1eceb, #b1e8ea, #c1e5e7, #cfe1e3);
            height: 100vh;
        }

        #card{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        #addButton{
            opacity: 0.95;
        }
        #addButton:hover{
            opacity: 1;

        }

    </style>

{% endblock %}

{% block content %}

{% include 'partials/admin_navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 mx-auto" id="card">
                <div class="card py-3">
                    <div class="card-body">
                        <h1 class="card-title text-center font-weight-bold" style="color: #398190;">ADD PLANS</h1>
                        <form class="form-group" method="post">
                            {% csrf_token %}
                            {% include 'partials/alert.html' %}
                            <label for="planName">Name:</label>
                                <input type="text" class="form-control mb-3" name="planName" id="planName" placeholder="Enter plan name.">
                            <label for="planDescription">Description:</label>
                               <textarea class="form-control mb-3" rows="3" name="planDescription" id="planDescription" placeholder="Enter plan details."></textarea>
                            <label for="planPrice">Price:</label>
                                <input type="number" class="form-control mb-3 col-9" name="planPrice" id="planPrice" placeholder="Enter Price.">
                            <label for="planDuration">Duration:</label>
                                <input type="number" class="form-control mb-3 col-9" name="planDuration" id="planDuration" placeholder="Enter the plan duration in number of days.">

                                <div class="text-center">
                                    <button id="addButton" class="btn text-white mr-5" style="background-color: #429aa7; border-radius: 50px; padding: 3px 45px;">Add</button>
                                    <a href="{% url 'get_all_plans' %}" class="btn btn-danger text-white" style="border-radius: 50px; padding: 3px 30px;">Cancel</a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}