{% extends 'layouts/admin_main_layout.html'%}

{% block title %}
 forgot password
{% endblock %}

{% block style %}
    <style>
        body{
            background-image: linear-gradient(to right top, #0b1763, #283080, #414b9e, #5968bc, #7185db);
            height: 100vh;
        }

        #card{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 mx-auto" id="card">
                <div class="card py-3">
                    <div class="card-body">
                        <h1 class="card-title text-center font-weight-bold" style="color: #283080;">Forgot Your password?</h1>
                        <p class="card-text  text-center font-weight-normal ">Enter your email address to request a password reset link.</p>
                        {% include 'partials/alert.html' %}
                        {% if success_message %}
                        <div class="alert alert-success fade show text-center">{{success_message}}</div>
                        {% endif %}
                        <form class="form-group" method="post">
                            {% csrf_token %}
                            <label for="email">Email:</label>
                                <input type="email" class="form-control mb-4" name="email" id="email" placeholder="Enter your email">
                                <button class="btn btn-block text-white" style="background-color: #283080; border-radius: 50px;">Send link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}