{% extends 'layouts/admin_main_layout.html'%}

{% block title %}
    Change password
{% endblock %}
    
{% block style %}
    <style>
        body{
            background-image: linear-gradient(to right top, #0b1763, #283080, #414b9e, #5968bc, #7185db);
            height: 100vh;
        }

        #card{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
{% endblock %}

{% block content %}

{% include 'partials/admin_navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 mx-auto" id="card">
                <div class="card py-3">
                    <div class="card-body">
                        <h1 class="card-title text-center font-weight-bold" style="color: #283080;">Change password</h1>
                        {% include 'partials/alert.html' %}
                        <form class="form-group" method="post">
                            {% csrf_token %}
                            <label for="currentPassword">Current Password</label>
                                <input type="password" class="form-control mb-4" name="currentPassword" id="currentPassword" placeholder="Enter your current password">
                            <label for="newPassword">New Password:</label>
                                <input type="password" class="form-control mb-4" name="newPassword" id="newPassword" placeholder="Enter your new password">
                            <label for="passwordConf">Confirm Password:</label>
                                <input type="password" class="form-control mb-4" name="passwordConf" id="passwordConf" placeholder="Confirm your new password">
                                <button class="btn float-right text-white" style="background-color: #283080; border-radius: 50px; padding: 3px 30px;">UPDATE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}